html {
    background-color: #eee;
}

.stilfonta{
    font-family: 'Trebuchet MS';
}

.row{
    display: flex;
    gap: 120px;
    padding: 10px;
    font-family: 'Trebuchet MS';
    position: relative;
}

.cell{
    width: 150px; 
  }

.gray-bold{
    color: gray;
    font-weight: bold;
  }

.black-bold{
    color: black;
    font-weight: bold;
  }

.blue-bold{
    color: blue;
    font-weight: bold;
  }

.red-bold{
    color: red;
    font-weight: bold;
  }

.precrtano{
    text-decoration: line-through;
}

.lista{
    position: absolute;
    top: 50px;
    left: 0;
    margin-left: 285px;
    margin-top: 165px;
    width: 150px; 
    padding: 5px;
    max-height: 200px;
    overflow-y: auto; 
    background-color: white;
    border: 1px solid #ddd;
    z-index: 1000; 
    display: none; 
}
  
  

